extends layout

block content
    h1= title
    table.table.table-striped.table-sm
        thead.table-dark
            tr
                th(scope="col") id
                th(scope="col") name
                th(scope="col") origin
                th(scope="col") weight
                th(scope="col") clarity
                th(scope="col") cut
                th(scope="col") measurement
                th(scope="col") color
                th(scope="col") treatment
                th(scope="col") price
                th(scope="col") serial
                th(scope="col") delete
                th(scope="col") update
            tr
        tbody.table-group-divider
        for g in gems
            tr
                td= g._id
                td= g.name
                td= g.origin
                td= g.weight
                td= g.clarity
                td= g.cut
                td= g.measurement
                td= g.color
                td= g.treatment
                td= g.price
                td= g.serial
                td
                    a(href="/gems/delete/" + g._id) Delete
                td
                    a(href="/gems/update/" + g._id) Update
            tr